
#icon{
    width: 30px;
    cursor: pointer;
}


.info{
    margin-left: 8%;
    margin-top: 15%;
}

.info h1{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.info p{
    color: var(--secondary-color);
}

.info a{
    background: var(--box-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.extra-home-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 0 0 -90%;
}

.extra-home-links a{
    transition: none;
}

.discord-link {
    margin: 0 0 0 30px;
}

i.fa-solid.fa-users {
    margin-right: 10px;
}

.extra-home-links a:hover {
    color: var(--box-hover-color);
}

