@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

:root {
    --dark-background-color: #111111;
    --dark-background-color-alt: #222222;
    --dark-trim-color: #333333;
    --dark-text-color: #eeeeee;
    --red: #da2c4d;
	--yellow: #f8ab37;
	--green: #2ecc71;
	--white: #ffffff;
	--grey-light: #f2f7f9;
	--grey: #ecedf3;
	--black: #080808;
	--black-blue: #1f2029;
	--black-blue-light: #353746;
	--black-blue-light-2: #404255;
	--black-blue-light-3: #4b4d64;
	--black-light: #424455;

    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

* {
    transition: all 0.2s ease;
}



nav {
    height: 80px;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
}

nav .logo{
    cursor: pointer;
}

nav ul {
    list-style: none;
    flex: 1;
    text-align: right;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color:#2ecc71;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li a.active {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

nav .menu-btn i {
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.hidden-nav{
    display: none;
}

#checkbox{
    display: none;
}