*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.5s;
}

::selection{
    background-color: var(--box-color);
    color: var(--secondary-box-color);
    border-radius: 10px;
}