:root{
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --primary-color-card: #82589F;
  --box-shadow-color: #6D214F;
  --box-color: #212121;
  --secondary-box-color: #ff4321;
  --box-hover-color: #ff4321;
  --nav-button-color: #212121;
}
.dark-theme{
  --primary-color: #000106;
  --secondary-color: #fff;
  --primary-color-card: #6D214F;
  --box-shadow-color:#82589F;
  --box-color: #fff;
  --secondary-box-color: #212121;
  --box-hover-color: #ff4321;
  --nav-button-color: #fff;
}

#icon {
  width: 30px;
  cursor: pointer;
}

#hero{
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  font-family: sans-serif;
  position: relative;
}
